<!DOCTYPE html>
<html lang='ru'>
<head>
	<meta charset='utf-8'>
	<meta name='viewpoint' content='width=device-width, initial-scale=1.0'>
	<link rel='stylesheet' href='../static/css/index.css'>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<title>test</title>
</head>

<body>
	
	<div data-aos='fade-down' data-aos-duration='1000'>
		<a href='/sovety'><button>Советы</button></a>
		<a href='/news'><button>Новости</button></a>
	</div>
	<h1 data-aos='zoom-in' data-aos-duration='1000'>horizon</h1>
	<h2 data-aos='fade-up' data-aos-duration='2000'>Проект Horizon был создан для просвещения люде в мир экологии и защиты природы. Здесь можно найти советы по сохранению окружающей среды, форум для общения с единомышленниками, и новостной блог для того, чтобы быстро узнавать о проведении мероприятий или других важных событиях.</h2>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>
</html>