<!DOCTYPE html>
<html lang='ru'>
<head>
	<meta charset='utf-8'>
	<meta name='viewpoint' content='width=device-width, initial-scale=1.0'>
	<link rel='stylesheet' href='../static/css/index.css'>
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<title>test</title>
</head>

<body>
	<div data-aos='fade-down' id='top' data-aos-duration='1000'>
		<a href='../'><button>Главная</button></a>
		<a href='/news'><button>Новости</button></a>
	</div>
	<h1 data-aos='zoom-in' data-aos-duration='1000'>horizon</h1>
	<div data-aos='fade-up' data-aos-duration='2000'>
	<h1>1.Экономьте энергию.</h1>
	<h2>Энергия является неотъемлемой частью нашей жизни и невозможно представить жизнь без современных приборов и гаджетов.  Однако, если использовать энергосберегающие и энергоэффективные приборы, то это заметно уменьшит спрос на электроэнергию и снизить нагрузку на окружающую среду. Особенно это касается нашего горного региона, где электроэнергии пока недостаточно.</h2></div>
	<div data-aos='fade-up' data-aos-duration='2000'>
	<h1>2.Берегите воду.</h1>
	<h2>Вода — источник жизни на земле и требует особого отношения. Старайтесь экономить воду при каждой возможности и не допускайте загрязнения воды бытовым стоком. Научите детей закрывать кран водопровода, соберите дождевую воду для орошения и старайтесь не бросать мусор в реки (если живете поблизости) и ирригационные каналы. С территории ГБАО берут начало большие и малые реки, которые протекают до ряда стран Центральной Азии. Так что на жителей верховьев реки Пяндж/Амударья возложены большие обязанности по обеспечению чистоты этой реки.</h2></div>
	<div data-aos='fade-up' data-aos-duration='2000'>
	<h1>3.Не разбрасывайте мусор.</h1>
	<h2>Мусор является одной из основных причин загрязнения окружающей среды, как в городах, так и в сельской местности. Ежедневно выбрасывается большое количество мусора, как бытового, так и промышленного характера. Старайтесь всегда бросать мусор только в специальные урны и научите своих детей этому. Если каждый человек будет относиться ответственно к природе и управлять своими отходами, то это заметно улучшить проблему с отходами. Но это и местных властей обязывает обеспечить сбор и утилизацию мусора.</h2>
	</div>
	<div data-aos='fade-up' data-aos-duration='2000'>
	<h1>4.Избегайте пластика.</h1>
	<h2>Одним из основных загрязнителей природы считаются пластиковые бутылки и различные полиэтиленовые изделия и пакеты. Всем известно, что пластиковые изделия почти не разлагаются в природе и при сжигании образуют ядовитые вещества загрязняя воздух. Поэтому, целесообразно уменьшить использование данной продукции, используя многоразовые тканевые сумки вместо пакетов и многоразовые бутылки и термосы для воды. Во многих странах уже используют пакеты из бумаги и других материалов. Возможно наступило время использования известные в прошлом авоськи и корзины.</h2></div>
	<div data-aos='fade-up' data-aos-duration='2000'>
	<h1>5.Посадите деревья и растения.</h1>
	<h2>Чем больше зелени вокруг, тем чище наш воздух. Поэтому, старайтесь озеленить свой участок всеми возможными способами, посадив деревья, цветы или просто комнатные растения если вы живете в квартире. Ухаживая за своей посадкой, вы получите огромное наслаждение.</h2></div>
	<div data-aos='fade-up' data-aos-duration='2000'>
	<h1>6.Используйте натуральные продукты.</h1>
	<h2>Продукты, сделанные из натурального сырья, носят меньше вреда экологии, так как они легко перерабатываются и не содержать синтетические вещества, которые загрязняют биосферу. Кроме того, выбирая натуральные продукты щедрой природы нашей горной страны, как для питания, так и для косметики и бытовых нужд, вы сохраняете свое здоровье и заметно сэкономите.</h2></div>
	<div data-aos='fade-up' data-aos-duration='2000'>
	<h1>7.Старайтесь покупать меньше вещей.</h1>
	<h2>Привычка ходить по магазинам и покупать различные товары имеет свое негативное последствие для окружающей среды. Большинство из ненужных вещей в итоге оказывается на свалке и часть из них к примеру обувь и косметика очень трудно перерабатывать. Поэтому, при покупке новой вещи задайтесь вопросом действительно ли она вам так необходима? Если же вы не можете отказываться от обновления гардероба, то старайтесь отдавать свои старые вещи в магазины «секонд-хенд» или в специальные пункты сбора вещей для повторного использования и переработки.</h2></div>
	<div data-aos='fade-up' data-aos-duration='2000'>
	<h1>8.Выбирайте эко продукты.</h1>
	<h2>Если во время покупки в магазине вы присмотритесь к товару, то на многих упаковках увидите знак «эко» указывающий на экологичность продукции и отношение производителя к природе. Данный знак указывает на то что при производстве использовались только натуральные продукты, или упаковка сделана из переработанного материала или же материал биоразлагаем. Отдав предпочтение эко-продукциям, вы тем самым поддерживаете производителей эко-продуктов и вносите свой вклад в сохранение природы.</h2>
	</div>
	<div data-aos='fade-up' data-aos-duration='2000'>
	<h1>9.Выбирайте велосипед вместо машин.</h1>
	<h2>Далеко не секрет что одним из основных источников загрязнения атмосферного воздуха различными выхлопными газами является автомобильный транспорт. Следовательно, выбирая велосипед или общественный транспорт вместо личного автомобиля, вы несете огромный вклад в сохранение чистоты атмосферного воздуха. Сегодня, во многих Европейских городах можно наблюдать тенденцию развития велосипедного транспорта, что заметно улучшает качество воздуха с каждым днем. Выбирая велосипед, вы не только спасаете экологию, но, а также, сохраняете свой бюджет и положительно влияете на собственное здоровье.</h2>
	</div>
	<div data-aos='fade-up' data-aos-duration='2000'>
		<h1>10. Экологическое образование.</h1>
		<h2>И последнее, но не маловажное место имеет экологическое образование, которое играет важную роль в формирование экологической культуры. К сожалению, большинство людей в мире не имеют доступа к экологической информации и допускают негативное воздействие на природу сами того не понимая. Соответственно, чем больше людей получать доступ к экологическому образованию и информации, тем меньше будет нагрузка на нашу естественную природу. Очень важно, обновлять свои знания в сфере экологии и охраны окружающей среды и быть всегда в курсе последних новостей и тенденций.</h2>
	</div>
	<a href='#top'><button class='totop' data-aos='fade-up' data-aos-duration='1500'>Наверх</button></a>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script>
		AOS.init();
	</script>
</body>
</html>